[build]
  command = "npm run build"
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"
    Service-Worker-Allowed = "/"

[[headers]]
  for = "/uv/*.js"
  [headers.values]
    Content-Type = "application/javascript"

[[redirects]]
  from = "/service/*"
  to = "/index.html"
  status = 200
